---
ZEEK_TESTS:
  - id: pcap-ixia-ent-data-center-2-30sec-500mbps
    pcap_file: ixia_RamEntDataCenter2_30sec_500Mbps.pcap

  - id: pcap-zeek-testing-ipv6
    pcap_file: zeek-testing-ipv6.trace

  - id: pcap-zeek-testing-2009-m57-day11-18
    pcap_file: 2009-M57-day11-18.trace

  - id: pcap-zeek-testing-geneve-vxlan-2009-m57-day11-18
    pcap_file: geneve-vxlan-2009-M57-day11-18.trace

  - id: pcap-bare-2009-m57-day11-18
    pcap_file: 2009-M57-day11-18.trace
    pcap_args: '-b'

  - id: pcap-bare-geneve-vxlan-2009-m57-day11-18
    pcap_file: geneve-vxlan-2009-M57-day11-18.trace
    pcap_args: '-b'

  - id: pcap-50k-tcp-conns
    pcap_file: 50k-tcp-conns.pcap

  - id: pcap-much-alexa-https-top-100
    pcap_file: much-alexa-https-top-100.pcap

  - id: pcap-much-alexa-dns-top-100
    pcap_file: much-alexa-dns-top-100.pcap

  - id: pcap-http-many-smaller
    pcap_file: http_many_smaller.pcap

  - id: pcap-500k-syns
    pcap_file: 500k-syns.pcap

  - id: pcap-quic-16-50mb
    pcap_file: quic-16-50mb-transfers.pcap

  - id: pcap-quic-12k
    pcap_file: quic-12k-connections.pcap

  - id: pcap-websocket-traffic-mix
    pcap_file: websocket-traffic-mix.pcap

  - id: pcap-spicy-websocket-traffic-mix
    pcap_file: websocket-traffic-mix.pcap
    pcap_args: 'WebSocket::use_spicy_analyzer=T'

  - id: micro-misc-zeek-version
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/misc/zeek-version.zeek

  # Same as above, but not bare and load test-all-policy, too.
  - id: micro-misc-zeek-version-all-policy
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D test-all-policy microbenchmarks/misc/zeek-version.zeek

  - id: micro-record-ops-connection-create
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/record-ops/connection-create.zeek

  # Same as above, but not bare and load test-all-policy, too.
  - id: micro-record-ops-connection-create-all-policy
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D test-all-policy microbenchmarks/record-ops/connection-create.zeek

  - id: micro-vector-ops-simple-value
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/vector-ops/simple-value.zeek

  - id: micro-vector-ops-complex-value
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/vector-ops/complex-value.zeek

  - id: micro-table-ops-create
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/create.zeek

  - id: micro-table-ops-simple-key-value
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/simple-key-value.zeek

  - id: micro-table-ops-complex-key-value
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/complex-key-value.zeek

  - id: micro-table-ops-complex-key-value-2
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/complex-key-value-2.zeek

  - id: micro-table-ops-copy
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/copy.zeek

  - id: micro-table-ops-small-table-simple-key
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/small-table-simple-key.zeek

  - id: micro-table-ops-small-table-complex-key
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/table-ops/small-table-complex-key.zeek

  - id: micro-logging-tsv-one-stream
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/one-stream.zeek

  - id: micro-logging-tsv-two-streams
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/two-streams.zeek

  - id: micro-logging-json-one-stream
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/one-stream.zeek  LogAscii::use_json=T

  - id: micro-logging-json-two-streams
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/two-streams.zeek LogAscii::use_json=T

  - id: micro-logging-writer-none-one-stream
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/one-stream.zeek Log::default_writer=Log::WRITER_NONE

  - id: micro-logging-writer-none-two-streams
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/logging/two-streams.zeek Log::default_writer=Log::WRITER_NONE

  - id: micro-function-calls-bifs
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/function-calls/bifs.zeek

  - id: micro-function-calls-recursion
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/function-calls/recursion.zeek

  - id: micro-function-calls-many
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/function-calls/many.zeek

  - id: micro-patterns-basic
    bench_command: /benchmarker/scripts/tiny-benchmark.sh
    bench_args: -D -b microbenchmarks/patterns/basic.zeek
