# Example ZeekControl node configuration.
#
# This example has a standalone node ready to go except for possibly changing
# the sniffing interface.

# This is a complete standalone configuration.  Most likely you will
# only need to change the interface.
#[zeek]
#type=standalone
#host=localhost
#interface=eth0

## Below is an example clustered configuration. If you use this,
## remove the [zeek] node above.

[logger-1]
type=logger
host=localhost
env_vars=BROKER_METRICS_PORT=4040
#jeprof_enable=1

[manager]
type=manager
host=localhost
env_vars=BROKER_METRICS_PORT=4041
#jeprof_enable=1

[proxy-1]
type=proxy
host=localhost
env_vars=BROKER_METRICS_PORT=4042
#jeprof_enable=1

[worker-1]
type=worker
host=localhost
interface=af_packet::veth0
lb_method=custom
lb_procs=8
pin_cpus=4,5,6,7,8,9,10,11
#jeprof_enable=1
